@hcarest "utf-8";

body{
  width:100%;
  margin:0;
  padding:0;
  color:#333;
}
a{
  color:#b7a077;
}
a:visited{
  color:#a8a8a8;
}
a:hover{
  color:#988564;
  font-weight:bold;
  text-decoration:none;
}
a:hover img{
  opacity:0.7;
}
h1,h2,h3,h4,h5,h6{
  margin-top:0;
}
p{
  margin-top:0;
  text-height:1.6px;
}
img{
  vertical-align:bottom;
}
a img{
  transition:opacity 0.2s linear;
}
#main h1{
  background-image:url(../images/header_bg.jpg);
  padding:30px 30px 30px 20px;
  font-size:26px;
  border-bottom:1px solid #8b7348;
}
#main h2{
  font-size:22px;
  border:1px solid #b7a007;
  padding:11px 22px;
  border-radius:5px;
}
#main h3{
  font-size:18px;
  border-left:3px solid #b7a007;
  padding:4px 9px 4px 14px;
}
header{
  width:80%;
  margin:0 auto;
}
header h1{
  float:left;
  margin:5px 1px 10px;
}
#header-contact{
  float:right;
  margin:35px 0 0 0;
}
#global-navi{
  width:100%;
  clear:both;
  overflow:hidden;
  margin:0 auto;
  margin-bottom:3vh;
}
#global-navi ul{
  list-style:none;
  margin:0;
  padding:0;
}
#global-navi li{
  width:19.9%;
  float:left;
  margin-right:0.1%;
  text-align:center;
}
#global-navi a{
  display:block;
  padding:16px;
  background-color:#352b23;
  color:#fff;
  text-decoration:none;
  transition:background-color 0.2s linear;
}
#global-navi ul li.current a{
  background-color:#b7a077;
}
#global-navi a:hover{
  background-color:#8c7a5b;
}
.wrapper{
  width:80%;
  margin:0 auto;
  overflow:hidden;
}
#main{
  width:730px;
  float:left;
}
#sidebar{
  width:220px;
  float:right;
}
#side-banner{
  margin-bottom:30px;
}
#side-banner h2{
  background-color:#716961;
  color:#fff;
  padding:7px;
  font-size:14px;
  text-align:center;
}
#side-banner ul{
  list-style:none;
  margin:0;
  padding:0;
}
#side-banner li{
  margin-bottom:10px;
}
#side-contact{
  margin-bottom:30px;
  color:#7f7259;
  border:1px solid #b7a077;
  text-align:center;
}
#side-contact h2{
  background-color:#b7a077;
  color:#fff;
  padding:7px;
  margin:14px;
  font-size:14px;
}
address{
  font-weight:bold;
  font-size:20px;
  font-style:normal;
}
address img{
  vertical-align:middle;
  margin-right:5px;
}
.contact-button{
  display:inline-block;
  background:#f1ede4;
  background:linear-gradient(to bottom, #FFFFFF 0%, #f1ede4 100%);
  color:#b7a077;
  border:1px solid #b7a077;
  border-radius:5px;
  text-decoration:none;
  padding:10px;
}
.contact-button:hover{
  background:#b7a077;
  background:linear-gradient(to bottom, #b7a077 0%,#e2cda7 100%);
  color:#fff;
}
footer{
  background-color:#352b23;
  text-align:center;
}
#footer-nav{
  background-color:#efefef;
  padding:10px 0;
}
#footer-nav ul{
  list-style:none;
  margin:0;
  padding:0;
}
#footer-nav li{
  display:inline;
  border-left:1px solid #aaa;
  margin-left:8px;
  padding-left:8px;
  font-size:smaller;
}
#footer-nav li:last-child{
  border-right:1px solid #aaa;
  padding:0 8px;
}
footer small{
  display:block;
  padding:8px 0;
  color:white;
}
#breadcrumb{
  font-size:smaller;
}
#breadcrumb ol{
  list-style:none;
  margin:0;
  padding:0;
}
#breadcrumb li{
  display:inline;
}
#breadcrumb li::after{
  content:">";
  padding-left:7px;
}
#breadcrumb li:last-child::after{
  content:none;
}
@media (max-width:767px){
  img{
    width:100%;
  }
  header,
  #global-navi,
  #sidebar,
  .wrapper{
    width:100%;
  }
  header h1{
    float:none;
    text-align:center;
  }
  header h1 img{
    width:50%;
  }
  #header-contact{
    display:none;
  }
  #global-navi li{
    width:50%;
    padding:0.5px;
    margin:0;
    box-sizing:border-box;
  }
  #global-navi li:last-child{
    width:100%;
  }
  .wrapper{
    width:90%;
  }
  #main{
    width:100%;
  }
  #sidebar img{
    width:60%;
  }
  #side-banner{
    text-align:center;
    width:100%;
  }
  #side-contact{
    width:100%;
    border:none ;
  }
  #side-contact h2{
    width:100%;
    margin:0;
    padding:7px;
    display:block;
  }
  #side-contact img{
    width:2vh;
  }
}
