@hcarest "utf-8";

#course table{
  width:100%;
  border-collapse:collapse;
  margin-bottom:16px;
}
#course th,td{
  border:1px solid #c7c7c7;
  padding:8px;
}
#course th{
  background-color:#f1ede4;
  text-align:left;
  width:5em;
}
