@hcarest "utf-8";

#main-visual{
  width:80%;
  margin:0 auto ;
}
#main-visual img{
  width:100%;
}
#point{
  margin-bottom:30px;
}
#point section{
  margin-bottom:10px;
  overflow:hidden;
}
#point figure{
  float:right;
  margin:0 0 0 16px;
}
#point figcaption{
  font-size:12px;
  color:#9C9689;
  text-align:center;
}
#news dl{
  overflow:hidden;
}
#news dt{
  width:8em;
  float:left;
  margin-bottom:10px;
  clear:both;
}
#news dd{
  margin-left:8em;
  margin-bottom:10px;
}
@media (max-width:767px){
  #main-visual{
    width:100%;
  }
  #point{
    padding-top:25px;
    width:100%;
    margin:0 auto;
  }
  #point figure{
    float:none;
    text-align:center;
  }
  #point img{
    width:65%;
  }
}
