@hcarest "utf-8";

@media screen and(max-width:767px){
  img{
    max-width:100%;
  }
  header,
  #global-navi,
  #sidebar,
  #wrapper{
    width:100%;
  }
  header h1{
    float:none;
    text-align:center;
  }
}
